YOUTUBE_API_KEY=masukkan_api_key_anda
YOUTUBE_VIDEO_IDS=isi_video_id_1,isi_video_id_2,isi_video_id_3,isi_video_id_4,isi_video_id_5
NUM_VIDEOS=5
MAX_COMMENTS=
MONGO_URI=masukkan_mongo_uri_anda
MONGO_DB=analisis_sentimen
MONGO_COLLECTION=comments
MONGO_COMMENTS_COLLECTION=comments
MONGO_PROCESSED_COLLECTION=comments_processed
MONGO_LABELED_COLLECTION=comments_labeled
MONGO_RESULTS_COLLECTION=sentiment_model_results
MONGO_VIDEOS_COLLECTION=videos
MONGO_RAW_COLLECTION=raw_api_responses
MONGO_DATABASE=analisis_sentimen
MONGO_INPUT_COLLECTION=comments_labeled
MONGO_OUTPUT_COLLECTION=comments_preprocessed
MONGO_REPORT_COLLECTION=comments_preprocessing_report
SPARK_MASTER=spark://alamat-master-spark:7077
SPARK_APP_NAME=IndonesianCommentStemmingPreprocessing
MONGO_SPARK_CONNECTOR_PACKAGE=org.mongodb.spark:mongo-spark-connector_2.13:11.0.1
SPARK_NUM_PARTITIONS=4
SPARK_SQL_SHUFFLE_PARTITIONS=4
SPARK_DEFAULT_PARALLELISM=4
SPARK_CORES=20
SPARK_MEMORY=1g
SPARK_HOME=C:\spark
OVERWRITE_EXISTING=true
PREPROCESSING_VERSION=spark_text_final_v2
PREPROCESSING_MAX_CHARS=1000
PREPROCESSING_MAX_TOKENS=120
PREPROCESSING_USE_STEMMING=false
SENTIMENT_MODEL=w11wo/indonesian-roberta-base-sentiment-classifier
SENTIMENT_BATCH_SIZE=16
SENTIMENT_DEVICE=-1
SENTIMENT_MAX_LENGTH=512
