YOUTUBE_API_KEY=masukkan_api_key_anda
YOUTUBE_VIDEO_IDS=isi_video_id_1,isi_video_id_2,isi_video_id_3,isi_video_id_4,isi_video_id_5
NUM_VIDEOS=5
MAX_COMMENTS=
MONGO_URI=masukkan_mongo_uri_anda
MONGO_DB=analisis_sentimen
MONGO_COLLECTION=comments
MONGO_COMMENTS_COLLECTION=comments
MONGO_PROCESSED_COLLECTION=comments_processed
SPARK_MASTER=local[*]
